@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-950 text-white antialiased;
        font-family: 'Inter', sans-serif;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    @apply bg-neutral-900;
}

::-webkit-scrollbar-thumb {
    @apply bg-neutral-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-600;
}